.sidebar {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.sidebar button {
    background-color: transparent;
    border: transparent;
    color: white;
    margin-top: 20px;  
    margin-bottom: 20px; 
}

