.about {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
.about .box {
    display: inline-flex;
    border: solid 1px black;
    justify-content: space-between;
    align-items: center;
    
}

.about .text {
    width: 60%;
    padding: 1rem 2rem;
}

.about .logo {
    width: 40%;
    background-color: #2C4047;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .logo img {
    height: 230px;
    width: auto;
}

  
  